.spinContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: rgba(8, 8, 31, 0.54);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;
}

.spinMainContainerStyle {
    width: fit-content;
    height: fit-content;
}